body{

}
/* Container's width */
.container-l{
    width: 100%;
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    padding: 0 2rem 0 2rem;
    margin: 0;
}
/* Row */
.row{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
/* Columns */
[class^='col-']{
}
.col-1{
    width: 10%
}
.col-2{
    width: 20%;
}
.col-3{
    width: 30%;
}
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 60%;
}
.col-7{
    width: 70%;
}
.col-8{
    width: 80%;
}
.col-9{
    width: 90%;
}
.col-10{
    width: 100%;
}
